In [1]:
import pandas as pd

In [2]:
# importing bank file
file = './Resources/budget_data.csv'
budget_df = pd.read_csv(file)
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
total_months = budget_df["Date"].count()
#budget_df.shape
total_months

86

In [4]:
net_profit_loss =budget_df["Profit/Losses"].sum()
net_profit_loss

38382578

In [5]:
max_profit = budget_df["Profit/Losses"].max()
max_loss = budget_df["Profit/Losses"].min()
max_profit
max_loss

-1196225

In [6]:
max_date_df = budget_df.loc[budget_df["Profit/Losses"]== max_profit,["Date","Profit/Losses"]]
max_date_df.head()

        Date  Profit/Losses
25  Feb-2012        1170593

In [8]:
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [11]:
budget_df["Diff"]=(budget_df["Profit/Losses"] - budget_df["Profit/Losses"].shift(1))
budget_df.head()

       Date  Profit/Losses      Diff
0  Jan-2010         867884       NaN
1  Feb-2010         984655  116771.0
2  Mar-2010         322013 -662642.0
3  Apr-2010         -69417 -391430.0
4  May-2010         310503  379920.0

In [12]:
max_diff = budget_df["Diff"].max()
min_diff = budget_df["Diff"].min()
avg_diff = round(budget_df["Diff"].mean(),2)
print(avg_diff,max_diff,min_diff)

-2315.12 1926159.0 -2196167.0

In [13]:
max_date_df = budget_df.loc[budget_df["Diff"]== max_diff,["Date","Diff"]]
max_date_df.head()

        Date       Diff
25  Feb-2012  1926159.0

In [14]:
min_date_df = budget_df.loc[budget_df["Diff"]== min_diff,["Date","Diff"]]
min_date_df.head()

        Date       Diff
44  Sep-2013 -2196167.0

In [15]:
diff_df = budget_df.loc[(budget_df["Diff"]== max_diff)| (budget_df["Diff"]== min_diff),["Date","Diff"]]
diff_df.reset_index(drop=True, inplace=True)
diff_df

       Date       Diff
0  Feb-2012  1926159.0
1  Sep-2013 -2196167.0

In [34]:
df_test = diff_df
#df_test.loc[:,"Diff"]="${:,.2f}".format(df_test["Diff"])
#df_test["Diff"]=
df_test

       Date            Diff            Comment
0  Feb-2012   ($1926159.00)  Greatest Increase
1  Sep-2013  ($-2196167.00)  Greatest Decrease

In [17]:
def format(x):
        return "(${:.2f})".format(x)

In [36]:
df_test["Comment"]= {"Greatest Increase":0,"Greatest Decrease":1}
df_test =df_test[["Comment","Date","Diff"]]
df_test

             Comment      Date            Diff
0  Greatest Increase  Feb-2012   ($1926159.00)
1  Greatest Decrease  Sep-2013  ($-2196167.00)

In [19]:
df_test["Diff"]=df_test["Diff"].apply(format)
print(df_test)

       Date            Diff
0  Feb-2012   ($1926159.00)
1  Sep-2013  ($-2196167.00)

In [23]:
total_test = "(${:.2f})"[net_profit_loss].format

IndexError: string index out of range

In [43]:
print("Financial Analysis")
print("--------------------------------")
print(f"Total Months:  {total_months}")
print(f"Total: ${net_profit_loss}")
print(f"Average Change: ${avg_diff}")
print(df_test[["Comment","Date","Diff"]])

Financial Analysis
--------------------------------
Total Months:  86
Total: $38382578
Average Change: $-2315.12
             Comment      Date            Diff
0  Greatest Increase  Feb-2012   ($1926159.00)
1  Greatest Decrease  Sep-2013  ($-2196167.00)

In [ ]:
summary_df = pd.DataFrame({"Total Months: ": [total_months],
                           "Total: ": "$"  [net_profit_loss]})
                          #"Average Change: ": avg_diff
                          #}).transpose()
summary_df.transpose()

In [ ]:
print